@charset "utf-8";

/* About This CSS File -----------------------------------------------
name:reset.css
information:リセット
date:2015.09.09
--------------------------------------------------------------------*/

/*----------------------------------------------------
	基本タグ設定
----------------------------------------------------*/
html{ color:#FFF; }
:where(body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td):not(.editor-styles-wrapper *){ margin:0; padding:0; }
:where(table):not(.editor-styles-wrapper *){ border-collapse:collapse; border-spacing:0; }
:where(fieldset,img):not(.editor-styles-wrapper *){ border:0; }
:where(address,caption,cite,code,dfn,em,strong,th,var,optgroup):not(.editor-styles-wrapper *){ font-style:inherit; font-weight:inherit; }
:where(del,ins):not(.editor-styles-wrapper *){ text-decoration:none; }
:where(li):not(.editor-styles-wrapper *){ list-style:none; }
:where(caption,th):not(.editor-styles-wrapper *){ text-align:left; }
:where(h1,h2,h3,h4,h5,h6):not(.editor-styles-wrapper *){ font-size:100%; font-weight:normal; }
:where(abbr,acronym):not(.editor-styles-wrapper *){ border:0 ; font-variant:normal; }
:where(sup):not(.editor-styles-wrapper *){ vertical-align:baseline; }
:where(sub):not(.editor-styles-wrapper *){ vertical-align:baseline; }
:where(input,button,textarea,select,optgroup,option):not(.editor-styles-wrapper *){ font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }
:where(input,button,textarea,select):not(.editor-styles-wrapper *){ *font-size:100%; }
:where(img):not(.editor-styles-wrapper *) { vertical-align:bottom; }
:where(article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary):not(.editor-styles-wrapper *) { display:block; }
:where(*):not(.editor-styles-wrapper *):focus { outline:none; }

/*----------------------------------------------------
	テキスト補足設定
----------------------------------------------------*/
/*--span set--*/
.spanBlack { color:#000; font-weight:normal; }
.spanWhite { color:#fff; font-weight:normal; }
.spanRed { color:#bb2828; font-weight:normal; }
.spanGray { color:#999; font-weight:normal; }
.spanletter0 { letter-spacing:0em; }

/*--font size--*/
.fontSize60 { font-size:60%!important; }
.fontSize70 { font-size:70%!important; }
.fontSize80 { font-size:80%!important; }
.fontSize85 { font-size:85%!important; }
.fontSize90 { font-size:90%!important; }
.fontSize95 { font-size:95%!important; }
.fontSize100 { font-size:100%!important; }
.fontSize110 { font-size:110%!important; }
.fontSize120 { font-size:120%!important; }
.fontSize130 { font-size:130%!important; }
.fontSize140 { font-size:140%!important; }
.fontSize160 { font-size:160%!important; }
.fontSize180 { font-size:180%!important; }
.fontSize200 { font-size:200%!important; }

/*--font wight--*/
.bold { font-weight:bold; }

/*--text indent--*/
.indentp { text-indent:-1em; padding-left:1em; }
.indentHalfp { text-indent:-1.3em; padding-left:1.3em; }
.indentHalf2p { text-indent:-1.5em; padding-left:1.5em; }
.indent2p { text-indent:-2em; padding-left:2em; }
.indent2_3p { text-indent:-2.3em; padding-left:2.3em; }
.indent2_5p { text-indent:-2.5em; padding-left:2.5em; }
.indent3p { text-indent:-3em; padding-left:3em; }
.indent3_4p { text-indent:-3.4em; padding-left:3.4em; }
.indent4p { text-indent:-4em; padding-left:4em; }
.indent5p { text-indent:-5em; padding-left:5em; }
.indent5_6p { text-indent:-5.6em; padding-left:5.6em; }
.indent6p { text-indent:-6em; padding-left:6em; }
.indent6_6p { text-indent:-6.6em; padding-left:6.6em; }
.indent7p { text-indent:-7em; padding-left:7em; }
.indent8p { text-indent:-8em; padding-left:8em; }
.indent9p { text-indent:-9em; padding-left:9em; }
.indent10p { text-indent:-10em; padding-left:10em; }

.inlineBlock { display:inline-block; }

/*----------------------------------------------------
	テキスト・要素の補足設定
----------------------------------------------------*/
/*--clearfix / ("../images/common/blank.gif")--*/
.clf:after{ content:url("../images/common/blank.gif"); display:block; clear:both; height:0; }
.clf { display:inline-block; }
/* Hides from IE-mac \*/
.clf { display:block; }
/* End hide from IE-mac */
/* clearfi x*/
.clearfix{ /zoom:1; }
.clearfix:after{ content:''; display:block; clear:both; }

/*--float & align set--*/
.floatRight { float:right!important; display:inline; }
.floatLeft { float:left!important; display:inline; }
.alignCenter { text-align:center!important; }
.alignLeft { text-align:left!important; }
.alignRight { text-align:right!important; }
.alignJustify { text-align:justify!important; text-justify:inter-ideograph; }

/*--border set--*/
.noBorder { border:none!important; }
.borderTop { border-top:dotted 1px #a9a9a9; }
.borderBottom { border-bottom:dotted 1px #a9a9a9; padding-bottom:20px!important; }
.borderRight { border-right:dotted 1px #a9a9a9; }
.borderLeft { border-left:dotted 1px #a9a9a9; }

/*--display set--*/
.noDisplay { display:none!important; }

/*--IMG border--*/
.imgBorder1 { border:1px solid #FFF; }
.imgBorder2 { border:2px solid #FFF; }
.imgBorder3 { border:3px solid #FFF; }
.imgBorder4 { border:4px solid #FFF; }
.imgBorder5 { border:5px solid #FFF; }
.imgBorder10 { border:10px solid #FFF; }

/*----------------------------------------------------
	背景色設定
----------------------------------------------------*/
.bgWhite { background:#fff; }
.bgBlack { background:#000; }
.bgGray { background:#efefef; }
.bgRed { background:#b02a2d; }

/*----------------------------------------------------
	マージン・パディング設定
----------------------------------------------------*/
@media screen and (min-width:631px) ,print{
/*--margin set over631--*/
.ma0_pc { margin:0!important; }
.ma5_pc { margin:5px; }
.ma10_pc { margin:10px!important; }
.ma15_pc { margin:15px!important; }
.ma20_pc { margin:20px!important; }
.ma25_pc { margin:25px!important; }
.ma30_pc { margin:30px!important; }
.ma35_pc { margin:35px!important; }
.ma40_pc { margin:40px!important; }
.ma45_pc { margin:45px!important; }
.ma50_pc { margin:50px!important; }
.ma55_pc { margin:55px!important; }
.ma60_pc { margin:60px!important; }
.ma65_pc { margin:65px!important; }
.ma70_pc { margin:70px!important; }
.ma75_pc { margin:75px!important; }
.ma80_pc { margin:80px!important; }
.ma85_pc { margin:85px!important; }
.ma90_pc { margin:90px!important; }
.ma95_pc { margin:95px!important; }
.ma100_pc { margin:100px!important; }

.mt0_pc { margin-top:0!important; }
.mt5_pc { margin-top:5px; }
.mt10_pc { margin-top:10px!important; }
.mt15_pc { margin-top:15px!important; }
.mt20_pc { margin-top:20px!important; }
.mt25_pc { margin-top:25px!important; }
.mt30_pc { margin-top:30px!important; }
.mt35_pc { margin-top:35px!important; }
.mt40_pc { margin-top:40px!important; }
.mt45_pc { margin-top:45px!important; }
.mt50_pc { margin-top:50px!important; }
.mt55_pc { margin-top:55px!important; }
.mt60_pc { margin-top:60px!important; }
.mt65_pc { margin-top:65px!important; }
.mt70_pc { margin-top:70px!important; }
.mt75_pc { margin-top:75px!important; }
.mt80_pc { margin-top:80px!important; }
.mt85_pc { margin-top:85px!important; }
.mt90_pc { margin-top:90px!important; }
.mt95_pc { margin-top:95px!important; }
.mt100_pc { margin-top:100px!important; }

.mb0_pc { margin-bottom:0!important; }
.mb5_pc { margin-bottom:5px!important; }
.mb10_pc { margin-bottom:10px!important; }
.mb15_pc { margin-bottom:15px!important; }
.mb20_pc { margin-bottom:20px!important; }
.mb25_pc { margin-bottom:25px!important; }
.mb30_pc { margin-bottom:30px!important; }
.mb35_pc { margin-bottom:35px!important; }
.mb40_pc { margin-bottom:40px!important; }
.mb45_pc { margin-bottom:45px!important; }
.mb50_pc { margin-bottom:50px!important; }
.mb55_pc { margin-bottom:55px!important; }
.mb60_pc { margin-bottom:60px!important; }
.mb65_pc { margin-bottom:65px!important; }
.mb70_pc { margin-bottom:70px!important; }
.mb75_pc { margin-bottom:75px!important; }
.mb80_pc { margin-bottom:80px!important; }
.mb85_pc { margin-bottom:85px!important; }
.mb90_pc { margin-bottom:90px!important; }
.mb95_pc { margin-bottom:95px!important; }
.mb100_pc { margin-bottom:100px!important; }

.ml0_pc { margin-left:0!important; }
.ml5_pc { margin-left:5px!important; }
.ml10_pc { margin-left:10px!important; }
.ml15_pc { margin-left:15px!important; }
.ml20_pc { margin-left:20px!important; }
.ml25_pc { margin-left:25px!important; }
.ml30_pc { margin-left:30px!important; }
.ml35_pc { margin-left:35px!important; }
.ml40_pc { margin-left:40px!important; }
.ml45_pc { margin-left:45px!important; }
.ml50_pc { margin-left:50px!important; }
.ml55_pc { margin-left:55px!important; }
.ml60_pc { margin-left:60px!important; }
.ml65_pc { margin-left:65px!important; }
.ml70_pc { margin-left:70px!important; }
.ml75_pc { margin-left:75px!important; }
.ml80_pc { margin-left:80px!important; }
.ml85_pc { margin-left:85px!important; }
.ml90_pc { margin-left:90px!important; }
.ml95_pc { margin-left:95px!important; }
.ml100_pc { margin-left:100px!important; }

.mr0_pc { margin-right:0!important; }
.mr5_pc { margin-right:5px!important; }
.mr10_pc { margin-right:10px!important; }
.mr15_pc { margin-right:15px!important; }
.mr20_pc { margin-right:20px!important; }
.mr25_pc { margin-right:25px!important; }
.mr30_pc { margin-right:30px!important; }
.mr35_pc { margin-right:35px!important; }
.mr40_pc { margin-right:40px!important; }
.mr45_pc { margin-right:45px!important; }
.mr50_pc { margin-right:50px!important; }
.mr55_pc { margin-right:55px!important; }
.mr60_pc { margin-right:60px!important; }
.mr65_pc { margin-right:65px!important; }
.mr70_pc { margin-right:70px!important; }
.mr75_pc { margin-right:75px!important; }
.mr80_pc { margin-right:80px!important; }
.mr85_pc { margin-right:85px!important; }
.mr90_pc { margin-right:90px!important; }
.mr95_pc { margin-right:95px!important; }
.mr100_pc { margin-right:100px!important; }

/*--padding set over631--*/
.pa0_pc { padding:0!important; }
.pa5_pc { padding:5px!important; }
.pa10_pc { padding:10px!important; }
.pa15_pc { padding:15px!important; }
.pa20_pc { padding:20px!important; }
.pa25_pc { padding:25px!important; }
.pa30_pc { padding:30px!important; }
.pa35_pc { padding:35px!important; }
.pa40_pc { padding:40px!important; }
.pa45_pc { padding:45px!important; }
.pa50_pc { padding:50px!important; }
.pa55_pc { padding:55px!important; }
.pa60_pc { padding:60px!important; }
.pa65_pc { padding:65px!important; }
.pa70_pc { padding:70px!important; }
.pa75_pc { padding:75px!important; }
.pa80_pc { padding:80px!important; }
.pa85_pc { padding:85px!important; }
.pa90_pc { padding:90px!important; }
.pa95_pc { padding:95px!important; }
.pa100_pc { padding:100px!important; }

.pt0_pc { padding-top:0!important; }
.pt5_pc { padding-top:5px!important; }
.pt10_pc { padding-top:10px!important; }
.pt15_pc { padding-top:15px!important; }
.pt20_pc { padding-top:20px!important; }
.pt25_pc { padding-top:25px!important; }
.pt30_pc { padding-top:30px!important; }
.pt35_pc { padding-top:35px!important; }
.pt40_pc { padding-top:40px!important; }
.pt45_pc { padding-top:45px!important; }
.pt50_pc { padding-top:50px!important; }
.pt55_pc { padding-top:55px!important; }
.pt60_pc { padding-top:60px!important; }
.pt65_pc { padding-top:65px!important; }
.pt70_pc { padding-top:70px!important; }
.pt75_pc { padding-top:75px!important; }
.pt80_pc { padding-top:80px!important; }
.pt85_pc { padding-top:85px!important; }
.pt90_pc { padding-top:90px!important; }
.pt95_pc { padding-top:95px!important; }
.pt100_pc { padding-top:100px!important; }

.pb0_pc { padding-bottom:0!important; }
.pb5_pc { padding-bottom:5px!important; }
.pb10_pc { padding-bottom:10px!important; }
.pb15_pc { padding-bottom:15px!important; }
.pb20_pc { padding-bottom:20px!important; }
.pb25_pc { padding-bottom:25px!important; }
.pb30_pc { padding-bottom:30px!important; }
.pb35_pc { padding-bottom:35px!important; }
.pb40_pc { padding-bottom:40px!important; }
.pb45_pc { padding-bottom:45px!important; }
.pb50_pc { padding-bottom:50px!important; }
.pb55_pc { padding-bottom:55px!important; }
.pb60_pc { padding-bottom:60px!important; }
.pb65_pc { padding-bottom:65px!important; }
.pb70_pc { padding-bottom:70px!important; }
.pb75_pc { padding-bottom:75px!important; }
.pb80_pc { padding-bottom:80px!important; }
.pb85_pc { padding-bottom:85px!important; }
.pb90_pc { padding-bottom:90px!important; }
.pb95_pc { padding-bottom:95px!important; }
.pb100_pc { padding-bottom:100px!important; }

.pl0_pc { padding-left:0!important; }
.pl5_pc { padding-left:5px!important; }
.pl10_pc { padding-left:10px!important; }
.pl15_pc { padding-left:15px!important; }
.pl20_pc { padding-left:20px!important; }
.pl25_pc { padding-left:25px!important; }
.pl30_pc { padding-left:30px!important; }
.pl35_pc { padding-left:35px!important; }
.pl40_pc { padding-left:40px!important; }
.pl45_pc { padding-left:45px!important; }
.pl50_pc { padding-left:50px!important; }
.pl55_pc { padding-left:55px!important; }
.pl60_pc { padding-left:60px!important; }
.pl65_pc { padding-left:65px!important; }
.pl70_pc { padding-left:70px!important; }
.pl75_pc { padding-left:75px!important; }
.pl80_pc { padding-left:80px!important; }
.pl85_pc { padding-left:85px!important; }
.pl90_pc { padding-left:90px!important; }
.pl95_pc { padding-left:95px!important; }
.pl100_pc { padding-left:100px!important; }

.pr0_pc { padding-right:0!important; }
.pr5_pc { padding-right:5px!important; }
.pr10_pc { padding-right:10px!important; }
.pr15_pc { padding-right:15px!important; }
.pr20_pc { padding-right:20px!important; }
.pr25_pc { padding-right:25px!important; }
.pr30_pc { padding-right:30px!important; }
.pr35_pc { padding-right:35px!important; }
.pr40_pc { padding-right:40px!important; }
.pr45_pc { padding-right:45px!important; }
.pr50_pc { padding-right:50px!important; }
.pr55_pc { padding-right:55px!important; }
.pr60_pc { padding-right:60px!important; }
.pr65_pc { padding-right:65px!important; }
.pr70_pc { padding-right:70px!important; }
.pr75_pc { padding-right:75px!important; }
.pr80_pc { padding-right:80px!important; }
.pr85_pc { padding-right:85px!important; }
.pr90_pc { padding-right:90px!important; }
.pr95_pc { padding-right:95px!important; }
.pr100_pc { padding-right:100px!important; }
}

@media screen and (max-width:630px) {
/*--margin set under630--*/
.ma0_sp { margin:0!important; }
.ma5_sp { margin:5px; }
.ma10_sp { margin:10px!important; }
.ma15_sp { margin:15px!important; }
.ma20_sp { margin:20px!important; }
.ma25_sp { margin:25px!important; }
.ma30_sp { margin:30px!important; }
.ma35_sp { margin:35px!important; }
.ma40_sp { margin:40px!important; }
.ma45_sp { margin:45px!important; }
.ma50_sp { margin:50px!important; }
.ma55_sp { margin:55px!important; }
.ma60_sp { margin:60px!important; }
.ma65_sp { margin:65px!important; }
.ma70_sp { margin:70px!important; }
.ma75_sp { margin:75px!important; }
.ma80_sp { margin:80px!important; }
.ma85_sp { margin:85px!important; }
.ma90_sp { margin:90px!important; }
.ma95_sp { margin:95px!important; }
.ma100_sp { margin:100px!important; }

.mt0_sp { margin-top:0!important; }
.mt5_sp { margin-top:5px; }
.mt10_sp { margin-top:10px!important; }
.mt15_sp { margin-top:15px!important; }
.mt20_sp { margin-top:20px!important; }
.mt25_sp { margin-top:25px!important; }
.mt30_sp { margin-top:30px!important; }
.mt35_sp { margin-top:35px!important; }
.mt40_sp { margin-top:40px!important; }
.mt45_sp { margin-top:45px!important; }
.mt50_sp { margin-top:50px!important; }
.mt55_sp { margin-top:55px!important; }
.mt60_sp { margin-top:60px!important; }
.mt65_sp { margin-top:65px!important; }
.mt70_sp { margin-top:70px!important; }
.mt75_sp { margin-top:75px!important; }
.mt80_sp { margin-top:80px!important; }
.mt85_sp { margin-top:85px!important; }
.mt90_sp { margin-top:90px!important; }
.mt95_sp { margin-top:95px!important; }
.mt100_sp { margin-top:100px!important; }

.mb0_sp { margin-bottom:0!important; }
.mb5_sp { margin-bottom:5px!important; }
.mb10_sp { margin-bottom:10px!important; }
.mb15_sp { margin-bottom:15px!important; }
.mb20_sp { margin-bottom:20px!important; }
.mb25_sp { margin-bottom:25px!important; }
.mb30_sp { margin-bottom:30px!important; }
.mb35_sp { margin-bottom:35px!important; }
.mb40_sp { margin-bottom:40px!important; }
.mb45_sp { margin-bottom:45px!important; }
.mb50_sp { margin-bottom:50px!important; }
.mb55_sp { margin-bottom:55px!important; }
.mb60_sp { margin-bottom:60px!important; }
.mb65_sp { margin-bottom:65px!important; }
.mb70_sp { margin-bottom:70px!important; }
.mb75_sp { margin-bottom:75px!important; }
.mb80_sp { margin-bottom:80px!important; }
.mb85_sp { margin-bottom:85px!important; }
.mb90_sp { margin-bottom:90px!important; }
.mb95_sp { margin-bottom:95px!important; }
.mb100_sp { margin-bottom:100px!important; }

.ml0_sp { margin-left:0!important; }
.ml5_sp { margin-left:5px!important; }
.ml10_sp { margin-left:10px!important; }
.ml15_sp { margin-left:15px!important; }
.ml20_sp { margin-left:20px!important; }
.ml25_sp { margin-left:25px!important; }
.ml30_sp { margin-left:30px!important; }
.ml35_sp { margin-left:35px!important; }
.ml40_sp { margin-left:40px!important; }
.ml45_sp { margin-left:45px!important; }
.ml50_sp { margin-left:50px!important; }
.ml55_sp { margin-left:55px!important; }
.ml60_sp { margin-left:60px!important; }
.ml65_sp { margin-left:65px!important; }
.ml70_sp { margin-left:70px!important; }
.ml75_sp { margin-left:75px!important; }
.ml80_sp { margin-left:80px!important; }
.ml85_sp { margin-left:85px!important; }
.ml90_sp { margin-left:90px!important; }
.ml95_sp { margin-left:95px!important; }
.ml100_sp { margin-left:100px!important; }

.mr0_sp { margin-right:0!important; }
.mr5_sp { margin-right:5px!important; }
.mr10_sp { margin-right:10px!important; }
.mr15_sp { margin-right:15px!important; }
.mr20_sp { margin-right:20px!important; }
.mr25_sp { margin-right:25px!important; }
.mr30_sp { margin-right:30px!important; }
.mr35_sp { margin-right:35px!important; }
.mr40_sp { margin-right:40px!important; }
.mr45_sp { margin-right:45px!important; }
.mr50_sp { margin-right:50px!important; }
.mr55_sp { margin-right:55px!important; }
.mr60_sp { margin-right:60px!important; }
.mr65_sp { margin-right:65px!important; }
.mr70_sp { margin-right:70px!important; }
.mr75_sp { margin-right:75px!important; }
.mr80_sp { margin-right:80px!important; }
.mr85_sp { margin-right:85px!important; }
.mr90_sp { margin-right:90px!important; }
.mr95_sp { margin-right:95px!important; }
.mr100_sp { margin-right:100px!important; }

/*--padding set under630--*/
.pa0_sp { padding:0!important; }
.pa5_sp { padding:5px!important; }
.pa10_sp { padding:10px!important; }
.pa15_sp { padding:15px!important; }
.pa20_sp { padding:20px!important; }
.pa25_sp { padding:25px!important; }
.pa30_sp { padding:30px!important; }
.pa35_sp { padding:35px!important; }
.pa40_sp { padding:40px!important; }
.pa45_sp { padding:45px!important; }
.pa50_sp { padding:50px!important; }
.pa55_sp { padding:55px!important; }
.pa60_sp { padding:60px!important; }
.pa65_sp { padding:65px!important; }
.pa70_sp { padding:70px!important; }
.pa75_sp { padding:75px!important; }
.pa80_sp { padding:80px!important; }
.pa85_sp { padding:85px!important; }
.pa90_sp { padding:90px!important; }
.pa95_sp { padding:95px!important; }
.pa100_sp { padding:100px!important; }

.pt0_sp { padding-top:0!important; }
.pt5_sp { padding-top:5px!important; }
.pt10_sp { padding-top:10px!important; }
.pt15_sp { padding-top:15px!important; }
.pt20_sp { padding-top:20px!important; }
.pt25_sp { padding-top:25px!important; }
.pt30_sp { padding-top:30px!important; }
.pt35_sp { padding-top:35px!important; }
.pt40_sp { padding-top:40px!important; }
.pt45_sp { padding-top:45px!important; }
.pt50_sp { padding-top:50px!important; }
.pt55_sp { padding-top:55px!important; }
.pt60_sp { padding-top:60px!important; }
.pt65_sp { padding-top:65px!important; }
.pt70_sp { padding-top:70px!important; }
.pt75_sp { padding-top:75px!important; }
.pt80_sp { padding-top:80px!important; }
.pt85_sp { padding-top:85px!important; }
.pt90_sp { padding-top:90px!important; }
.pt95_sp { padding-top:95px!important; }
.pt100_sp { padding-top:100px!important; }

.pb0_sp { padding-bottom:0!important; }
.pb5_sp { padding-bottom:5px!important; }
.pb10_sp { padding-bottom:10px!important; }
.pb15_sp { padding-bottom:15px!important; }
.pb20_sp { padding-bottom:20px!important; }
.pb25_sp { padding-bottom:25px!important; }
.pb30_sp { padding-bottom:30px!important; }
.pb35_sp { padding-bottom:35px!important; }
.pb40_sp { padding-bottom:40px!important; }
.pb45_sp { padding-bottom:45px!important; }
.pb50_sp { padding-bottom:50px!important; }
.pb55_sp { padding-bottom:55px!important; }
.pb60_sp { padding-bottom:60px!important; }
.pb65_sp { padding-bottom:65px!important; }
.pb70_sp { padding-bottom:70px!important; }
.pb75_sp { padding-bottom:75px!important; }
.pb80_sp { padding-bottom:80px!important; }
.pb85_sp { padding-bottom:85px!important; }
.pb90_sp { padding-bottom:90px!important; }
.pb95_sp { padding-bottom:95px!important; }
.pb100_sp { padding-bottom:100px!important; }

.pl0_sp { padding-left:0!important; }
.pl5_sp { padding-left:5px!important; }
.pl10_sp { padding-left:10px!important; }
.pl15_sp { padding-left:15px!important; }
.pl20_sp { padding-left:20px!important; }
.pl25_sp { padding-left:25px!important; }
.pl30_sp { padding-left:30px!important; }
.pl35_sp { padding-left:35px!important; }
.pl40_sp { padding-left:40px!important; }
.pl45_sp { padding-left:45px!important; }
.pl50_sp { padding-left:50px!important; }
.pl55_sp { padding-left:55px!important; }
.pl60_sp { padding-left:60px!important; }
.pl65_sp { padding-left:65px!important; }
.pl70_sp { padding-left:70px!important; }
.pl75_sp { padding-left:75px!important; }
.pl80_sp { padding-left:80px!important; }
.pl85_sp { padding-left:85px!important; }
.pl90_sp { padding-left:90px!important; }
.pl95_sp { padding-left:95px!important; }
.pl100_sp { padding-left:100px!important; }

.pr0_sp { padding-right:0!important; }
.pr5_sp { padding-right:5px!important; }
.pr10_sp { padding-right:10px!important; }
.pr15_sp { padding-right:15px!important; }
.pr20_sp { padding-right:20px!important; }
.pr25_sp { padding-right:25px!important; }
.pr30_sp { padding-right:30px!important; }
.pr35_sp { padding-right:35px!important; }
.pr40_sp { padding-right:40px!important; }
.pr45_sp { padding-right:45px!important; }
.pr50_sp { padding-right:50px!important; }
.pr55_sp { padding-right:55px!important; }
.pr60_sp { padding-right:60px!important; }
.pr65_sp { padding-right:65px!important; }
.pr70_sp { padding-right:70px!important; }
.pr75_sp { padding-right:75px!important; }
.pr80_sp { padding-right:80px!important; }
.pr85_sp { padding-right:85px!important; }
.pr90_sp { padding-right:90px!important; }
.pr95_sp { padding-right:95px!important; }
.pr100_sp { padding-right:100px!important; }
}


/*--iOSフォームスタイルリセット--*/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    background:none;
}
input[type="text"] {
	  border-radius: 0;
	  -webkit-appearance: none;
}
textarea {
	  border-radius: 0;
	  -webkit-appearance: none;
}